
#wrapper {
    width:100%;
    height:100%;
}
nav {
    bottom-border:3px solid black;
}


body {
background-color:lightgray;
}

.menuArea li a {
    text-decoration:none;
    text-transform: uppercase;
    display:block;
    padding: 0 35px;
    color:white;
    line-height: 30px;
    position: relative;
}

.menuArea li {
    list-style:none;
    display:inline-block;
    letter-spacing:1px;
}

.custom-Padding {
    
    border-bottom:3px solid black;
}

nav {
    position:relative;
    padding: 10px 20px 10px 10px;
    text-align:right;
    z-index: 1;
    background: #333;
    margin:0 auto;
    width:calc(100% -60px);
}

.logo {
    width:15%;
    float:left;
    text-transform: uppercase;
    color:white;
    font-size: 30px;
    text-align: left;
    padding-left: 4%;
    padding: 20px;
}

.menuArea li a:hover {
    background:gray;
    color:white;
}


.hdr {
    
    font-size:25px;
    font-weight: bold;
    background-color:black;
    width:100%;
    height:30px;
}

#photo1 {
    
    float:left;
    margin-left: 2%;
    margin-top:2%;
    position:absolute;   
    
}

.sectionHdr {
    width:60%;
    margin-left:20%;
    background-color:white;
    display:block;
    border:2px solid black;
    
    position:absolute;
    
}

.aboutHdr {
    padding-left:3%; 
    background-color:gray;
    margin-right:72%;
    padding:10px;
    margin-left:3%;
    text-transform:uppercase;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    
}

.section1 {
    margin-top:0%;
    height:400px;
    float:left;
    margin-left:0%;
    background-color:white;
    padding:10px;
    position:relative;
    border-top:2px solid black;
}



#full {
    width:100%;
    background-color:lightgray;

}


form {
    border: 2px solid black;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    position:relative;
    margin-top:5%;
    background-color:white;
}

.impMain{
    padding-top:3%;
    width:90%;
    padding-left:2%;
    margin-left:2%;
    
}

.impFld1 {
    
    width:100%;
    border:1px solid black;
    background-color:lightgray;
   
}

.impFld2 {
    width:100%;
    height:180px;
    margin-bottom:2%;
    margin-right: 2%;
    border:1px solid black;
    background-color:lightgray;
    

   
}

.cntcTitle {
    padding-left:2%;
    margin-left:2%;
    width:90%;
    color:Black;    
    text-transform: uppercase;
    border-bottom:2px solid black;
}

.cntBack {
    background-color:gray;
    margin-right:75%;
    padding:10px;
}


.cntc {
    border: 1px solid black;
   
}

.sbmt {
    background-color:gray;
    color:white;
    margin-bottom:2%;
    text-transform:uppercase;
    padding: 0.5%;
}

.ftr {
    position:absolute;
    bottom:0;
    clear:both;
    width:100%;
    height:5%;
    background-color:gray;
    border-top:3px solid black;
}

.pMain {
    background-color: white;
    position: relative;
    margin-top: 2%;
    width: 80%;
    height: 553px;
    margin-left: 10%;
    border: 2px solid black;
}

.pInterior {
    position: absolute;
    width: 92%;
    line-height: 58%;
    margin-left: 2%;
    text-transform: uppercase;
    padding-left: 1%;
    padding-left: 1%;
    border-bottom: 2px solid black;
   
}

.ph2 {
    
    background-color: gray;
    width: 19%;
    padding: 2%;
    border: 1px solid black;

}

.imgParent {
    height: 120px;
    margin-top: 11%;
    margin-left: 7%;
    width: 100%;
    float: left;

}

/* .photo-spacing img {
    width:100%;
    height:100%
    float:left; */

.images {
    float: left;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    margin-left: 5%;
    margin-bottom:5%;
    margin-right:5%;
    height: 136px;
    width: 93px;
    overflow: hidden;
    text-align: center;
    
}

.images img {
    width:100%;
    height:100%;
}

.clearfix {
    clear: both;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }